# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted to native line endings on checkout.
*.pre-commit text
*.pre-push text
*.pre-rebase text
*.pre-applypatch text
*.applypatch-msg text
*.prepare-commit-msg text
*.commit-msg text
*.update text
*.post-update text
*.md text
